<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="">
<meta name="author" content="Eyob">
<link rel="icon" href="favicon.ico">
<link
	href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/spacelab/bootstrap.min.css"
	rel="stylesheet"
	integrity="
   sha384-sIQOcNYer0kt7oTyFe/YrGzKMFP/qxsJbXTxq0/uiZQgpwXwEu41sVz2M61lWbai"
	crossorigin="anonymous">
<title>eRegistrar - a 2nd Project boot webapp</title>
	<style>
	p{
	font-size:2em;
	padding:100px;
	color:blue;
	}
	</style>
	
<style>
body {
  background-image: url('images/Marketing-Idea-Tree-Background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-info">
		<a class="navbar-brand" href="#">eRegistrar</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarColor01" aria-controls="navbarColor01"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
				</a></li>

				<li class="nav-item"><a class="nav-link" href="#">Help</a></li>
				<li class="nav-item"><a class="nav-link" href="#">About</a></li>
			</ul>
			<form class="form-inline my-2 my-lg-0">


				<button type="button" class="btn btn-success">Login</button>
			</form>
		</div>
	</nav>

	<h1 style="text-align: center">Welcome To Registrar</h1>
	<div class="container center_div">
		<section id="cover">
			<div id="cover-caption">
				<div id="container" class="container">
					<div class="row">
						<div class="col-md-4 offset-md-4 text-center">
							<div class="info-form">
								<form action="" class="form-group justify-content-center">
									<div class="form-group">
										<input class="form-control" type="Email" placeholder="Email"
											aria-label="Email">
									</div>
									<div class="form-group">
										<label class="sr-only">Password</label> <input type="Password"
											 class="form-control"
											placeholder="Password">
									</div>
								</form>
							</div>
							<br>
						</div>
					</div>
				</div>
			</div>
		</section>
		<p>Maharishi International University, formerly Maharishi University of Management, 
	is a private university in Fairfield, Iowa. It was founded in 1973 by Maharishi Mahesh 
	Yogi and features a "consciousness-based education" system that includes the practice of the 
	Transcendental Meditation technique!!!.</p>
		
	</div>

	
</body>
</html>

